<a href="https://colab.research.google.com/github/sonenhur/k5_python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 코렙 파이썬 개발 환경입니다.

# : 1. 제일 큰 제목
## : 1.1. 하나 작은 제목
### : 1.1.1. 더 작은 제목

- 리스트 1
- 리스트 2
- 리스트 3

 - 들여쓰기 리스트

> 인용구문

1. 번호 리스트 1
2. 번호 리스트 2
3. 번호 리스트 3

In [ ]:
x = 10 # 여기는 주석입니다.

''' 여기는
여러줄
주석입니다. '''

""" 여기도
여러줄
주석입니다 """

y = 20
z = x + y
print(z)

In [ ]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
10 / 7

1.4285714285714286

In [ ]:
10 % 7 #나머지를 구하는 연산

3

In [ ]:
10 // 7 #몫을 구하는 연산

1

In [ ]:
10 ** 7 #거듭제곱

10000000

In [ ]:
x = "hello world~!"

print("h" in x)
print("X" in x)
print(" " in x)

True
False
True

In [ ]:
a = [1,2,3]
b = [1,2,3]
c = a

print(a is b)
print(a is not b)
print(a is c)
print(b is not c)

#메모리상에서 a와 b가 가리키는 데이터셋은 다름

False
True
True
True

In [ ]:
num = 10
x = "num = %d" % num
print(x)

num = 10

In [ ]:
num = 10
pi = 3.141592
print("num = %d" % num)
print("pi = %10.3f" % pi)
print("pi = %2f" % pi)

num = 10
pi =      3.142
pi = 3.141592

In [ ]:
name = "John"
print("Hello, %s!" %name)

Hello, John!

In [ ]:
pi = 3.14159
print("Pi is approximately %.2f." % pi)

Pi is approximately 3.14.

In [ ]:
name = "John"
age = 30
height = 175.5

print("My name is {0}, I'm {1} years old, and my height is {2:.2f}.".format(name, age, height))
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

My name is John, I'm 30 years old, and my height is 175.50.

In [ ]:
# f-string을 이용한 문자열 포매팅
name = "John"
age = 30
height = 175.5

print(f"My name is {name}, I'm {age} years old, and my height is {height:.1f}.")
# 출력 결과: "My name is John, I'm 30 years old, and my height is 175.5."

In [ ]:
# My name is Tom and I am 20 years old.

name = "Tom"
age = 20
print(f"My name is {name} and I am {age} years old.")

My name is Tom and I am 20 years old.

In [ ]:
name = "Tom"
age = 20
print("My name is {} and I am {} years old.".format(name, age))

My name is Tom and I am 20 years old.

In [ ]:
name = "Tom"
age = 20
print("My name is %s  and I am %d  years old." % (name, age))

My name is Tom  and I am 20  years old.

In [ ]:
name = input("이름?")
f"내 이름은 {name}입니다."

이름?허선행

'내 이름은 허선행입니다.'

In [ ]:
A = input("a:")
B = input("b:")
A+B #문자열로 받아들임

a:10
b:20

'1020'

In [ ]:
A = input("a:")
B = input("b:")
int(A)+int(B)

a:10
b:20

30

In [ ]:
# input() 함수를 이용하여 사용자로부터 입력받아 계산하기
A = int(input("첫 번째 정수를 입력하세요: "))
B = int(input("두 번째 정수를 입력하세요: "))
A * B

첫 번째 정수를 입력하세요: 10
두 번째 정수를 입력하세요: 20

200

초를 입력하면 분과 초로 표시하는 프로그램. 예를 들어, 200초를 입력하면 3분 20초로 표현하라

In [ ]:
A = int(input("초를 입력하세요.")) # 나누기 60
나누기 = A // 60
나머지 = A % 60

print((f"{나누기}") + "분 " + (f"{나머지}")+"초")

초를 입력하세요.200
3분 20초

분(min)을 입력 하면, 일, 시간, 분으로 출력하는 프로그램을 만들어라. (예 : 1550분은 1일 1시간 50분)

In [ ]:
A = int(input("분을 입력하세요."))
day = A // (24*60)
hour = A // 60 %24
min = A % 60
print((f"{day}") + "일" + (f"{hour}")+ "시간" + (f"{min}")+ "분")

분을 입력하세요.1550
1일1시간50분

500만원을 년이율 5%로 복리 저금했을 때 5년 후의 원리금의 합계를 출력하는 프로그램

In [ ]:
원금 = 5000000
이율 = 0.05
년 = 5

총액 = 원금 * (1+이율) **년
print(f"총액: {총액:.0f}원.")

총액: 6381408원.

1부터 n까지의 합은 n(n+1)/2로 주어진다.
1부터 100까지의 합을 구하여 출력하는 프로그램을 작성하고 실행하라.

In [ ]:
n = int(input("원하는 숫자를 입력(100): "))
sum = n * (n+1) / 2
print(f"{sum :.0f}")

원하는 숫자를 입력(100): 100
5050

판매자가 딸기와 포도를 판매하고 있다. 포도 한 알의 무게는 75g이고 딸기 한 알의 무게는 113.5g이다.
사용자로부터 포도 알의 개수와 딸기의 개수를 입력 받아 총 무게를 계산하여 출력하는 프로그램을 작성하고 실행하라.

In [ ]:
grape = float(input("포도 갯수: "))
berry = float(input("딸기 갯수: "))

print (f"{grape*75 + berry*113.5}g")

포도 갯수: 5
딸기 갯수: 10
1510.0g